*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 150px;
    border: 1px solid;
    width: 800px;
    margin-left: 25%;
    background-color: aqua;

    
    
    
}
.age_calc{
    background-color: rgba(133, 133, 163, 2.0) ;
}
#current,#c_month,#month,#date,#c_date,#birth{
      width: 100px;
      height: 30px;
      font-size: 20px;
      margin-top: 40px;
      margin-left: 60px;
     
}

span{
    margin-left: 40%;
    color: blue;
    size: 30px;
    
}
strong{
    margin-left: 20PX;
}
button{
    width: 100px;
    height: 40px;
    margin-left: 44%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    
}
h1{
    background-color: azure;
    color: brown;
    text-align-last: center;
}
#result{
  color: rgb(21, 253, 0);
  text-align-last: center;                      
  background-color: rgb(121, 21, 96);
}